<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.glailton.quizsp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  <!--  <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_sp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuizSP"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <!--    <activity android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->
        <activity android:name=".DashboardActivity" >
        </activity>
    </application>

</manifest>
